html, body, #page-canvas {
    padding: 0;
    margin: 0;
    font-family: 'Dosis', sans-serif;
}

#page-canvas {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: fixed;
    opacity: 0;









    .center-text {
        text-align: center;
        left: 0px;
        width: 1920px;
        font-size: 70px;
    }


    .bit-representation {
        font-family: 'Courier Prime', Courier, monospace;
        font-size: 60px;
    }


    .exit-will-fly-left {
        left: -3840px;
    }

    .exit-will-fly-top {
        top: -2160px;
    }

    .exit-will-fly-right {
        right: -3840px;
    }

    .exit-will-fly-bottom {
        bottom: -2160px;
    }



    .katex>.katex-html {
        white-space: normal;
    }

    .katex .base {
        margin-top: 2px;
        margin-bottom: 2px;
    }



    .but-why-reason {
        .reason-bullet {
            transition: 1s width;
            width: 60px;
            display: inline-block;
        }
    }

    .but-why-reason.smallest-bullet {
        .reason-bullet {
            width: 20px;
        }
    }
    .but-why-reason.smaller-bullet {
        .reason-bullet {
            width: 60px;
        }
    }



    .but-why-reason-img {
        position: absolute;
        bottom: -1280px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .normal-sized-text {
        font-size: 50px;
    }


    .section-title {
        font-size: 200px;
        top: 40%;
        left: -900px;
        transform: translateY(-50%);
    }

    .section-subtitle {
        font-size: 80px;
        margin-top: 30px;
    }


    .exit-will-fade {
        opacity: 0;
        display: none;
    }

    .viz-container {
        display: none;
    }

    .edge-menu {
        top: 0px;
        right: 0px;
        width: 20px;
        height: 20px;
    }









    #main-scalable-content {
        background-color: #fff;
        width: 1920px;
        height: 1080px;
        position: absolute;
        transform-origin: 0 0;
        overflow: hidden;;
    }
    div, img {
        position: absolute;
    }

    .intro-title {
        font-size: 90px;
        font-weight: 400;
        width: 1800px;
        // top: 170px;
        // left: 150px;
        color: #fff;
    }
    .intro-subtitle {
        font-size: 50px;
        width: 1800px;
        // top: 350px;
        // left: 150px;
        color: #fff;
       }

    .intro-background {
        background-color: #193C57;
        width: 1920px;
        height: calc(1080 - 290);
    }

    .intro-right-side-note {
        font-size: 32px;
        width: 540px;
        right: 150px;
        top: 665px;
        color: white;
    }

    .intro-names {
        font-size: 32px;
    }

    .intro-portrait {
        width: 133px;
        
    }

    .intro-logos-section {

        vertical-align: middle;

        .intro-logo-u-of-a {
            height: 60px;
            margin-bottom: 10px;
        }
        .intro-logo-amii {
            height: 150px;
            margin-bottom: -24px;
        }
        .intro-logo-moving-ai {
            height: 100px;
        }
        .intro-logo-aiide {
            height: 60px;
            margin-bottom: 10px;
        }
        img {
            display: inline-block;
            position: relative;
            margin-right: 80px;
        }
    }

    .clip-circle {
        clip-path: circle(66px at center);
    }


    .storybook-container {
        position: absolute;
        top: 120px;
        left: calc((1920 - 400)/2);
        cursor: pointer;
        img {
            width: 360px;
            margin-left: 25px;
            margin-top: 20px;
        }
    }

    .storybook-cover-title {

    }


    .storybook-cover-title {
        font-family: 'Neucha', cursive;
        font-size: 80px;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .storybook-page {
        width: 100%;
        height: 100%;
    }

    svg.for-story {
        overflow: visible;
    }

    .storybook-text svg.for-story text{
        font-size: 140px;
        fill: white;
        font-family: 'Neucha';
        stroke: black;
        stroke-width: 14px;
        paint-order: stroke fill;
        
    }

    .storybook-text-once-upon-a-time.storybook-text svg.for-story text {
        font-size: 110px;
        stroke-width: 11px;
    }

    .storybook-text-once-upon-a-time {
        // left: 560px;
        // top: 430px;
        top: 582px;
        left: 1031px;
        font-size: 110px;
        
    }

    .storybook-text-soup-too-hot {
        top: 656px;
        left: 517px;
    }

    .storybook-text-soup-too-cold {
        top: 402px;
        left: 780px;
    }


    .storybook-text-soup-just-right {
        top: 636px;
        left: 1200px;
    }

    .storybook-text-bed-too-hard {
        top: 498px;
        left: 631px;
    }

    .storybook-text-bed-too-soft {
        top: 667px;
        left: 1196px;
    }


    .storybook-text-bed-just-right {
        top: 636px;
        left: 845px;
    }

    .puzzle-fully-centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        scale: 2.5;
    }

    .white-background {
        background-color: white;
        width: 1920px;
        height: 1080px;
        top: 0px; height: 0px;
    }



    .witnessPuzzleContainer {
        outline: none;
        border: none;
        rect {
            outline: none;
            border: none;
        }
        .backgroundRect {
            fill: rgba(0,0,0,0);
        }
    }

    .puzzle-test {
        bottom: -1080px;
    }

    .puzzle-intro-easy {
        // bottom: 540px;
        // left: 400px;
        transform: translate(-50%, -50%);
        scale: 1.75;
    }
    .puzzle-intro-hard { 
        // bottom: 540px;
        // left: 960px;
        transform: translate(-50%, -50%);
        scale: 1.75;
    }
    .puzzle-intro-medium {
        // bottom: 540px;
        // left: 1520px;
        transform: translate(-50%, -50%);
        scale: 1.75;
    }

    .img-robot-looking-down {
        width: 600px;
        top: -300px;
        transform: translate(-50%, -50%);
    }


    .puzzle-1x1-combination {
        position: absolute;
        top: -1080px;
        .combinations path {
            opacity: 0;
        }
    }

    .puzzle-1x1-combination-result{
        position: absolute;
        bottom: 2080px;
        // transform: translate(-50%, -50%);
    }

    .puzzle-1x1-combination-result-1 {
        left: calc(1920 / 2 - 540 - 40);
    }
    .puzzle-1x1-combination-result-2 {
        left: calc(1920 / 2 - 180 - 40);
    }
    .puzzle-1x1-combination-result-3 {
        left: calc(1920 / 2 + 180 - 40);
    }
    .puzzle-1x1-combination-result-4 {
        left: calc(1920 / 2 + 540 - 40);
    }


    .puzzle-blank-4x4 {
        position: absolute;
        bottom: 2080px;
        left: calc(1920 / 2 - 100);
        // transform: translate(-50%, -50%);
        scale: 1.75;
    }



    .num-4x4-combinations-text {
        bottom: 2080px;
        left: 200px;
    }

    .num-5x5-combinations-text {
        bottom: 2080px;
        left: 200px;
        width: 3000px;
    }

    .puzzle-from-witness-game {
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    

    .states-and-actions-text-container {
        right: -1900px;
        top: 230px;
        font-size: 50px;
        width: 300px !important;
    }
    .states-and-actions-states-text {
        position: relative;
        min-height: 350px;
        
    }

    .states-and-actions-valid-action-text {
        position: relative;
        padding-top: 20px;
    }


    .but-why-reason-img-2 {
        height: 500px;
    }

    .but-why-reason-img-3 {
        height: 500px;
    }

    .but-why-reason-img-4 {
        left: 50%;
        top: 47%;
    }

    .contribution-two-measures-text {
        font-size: 70px;
    }

    .contribution-validation-text {
        font-size: 55px;
    }

// .but-why-reason-img.but-why-reason-img-4 {
//     bottom: -2080px;
// }

    .toc-title {
        border-bottom: 2px solid;
        ;
    }

    .how-oracle-text.storybook-text svg.for-story text {
        font-size: 90px;
        stroke-width: 11px;
    }


    .how-oracle-text {
        top: 573px;
        left: 232px;
    }




    .entropy-explanations-text {
        font-size: 50px;
    }

    .explanation-coin-z {
        top: 500px;
        left: 160px;
    }

    .explanation-coin-probabilities {
        top: 600px;
        left: 160px;
    }

    .explanation-coin-use-formula {
        top: 810px;
        left: 160px;
    }

    .entropy-coin-img {
        position: absolute;
        top: 460px;
        left: 1280px;
        width: 450px;
    }

    .explanation-coin-1-bit {
        top: 180px;
        left: 160px;
        font-size: 60px;
    }

    .entropy-coin-tails-img {
        position: absolute;
        top: 360px;
        left: 1080px;
        width: 300px;
    }

    .entropy-coin-heads-img {
        position: absolute;
        top: 360px;
        left: 480px;
        width: 300px;
    }

    .bit-representation-coin-0 {
        top: 680px;
        left: 535px;
    }

    .bit-representation-coin-1 {
        top: 680px;
        left: 1140px;
    }



    .explanation-puzzle-z {
        top: 450px;
        left: 160px;
    }

    .explanation-puzzle-probabilities {
        top: 570px;
        left: 160px;
    }

    .explanation-puzzle-use-formula {
        top: 810px;
        left: 160px;
    }

    .entropy-puzzle-img {
        position: absolute;
        top: 400px;
        left: 1280px;
        width: 450px;
    }

    .explanation-puzzle-2-bits {
        top: 180px;
        left: 160px;
        font-size: 60px;
    }

    .entropy-puzzle-0-img {
        position: absolute;
        top: 300px;
        left: 200px;
        width: 300px;
    }

    .bit-representation-puzzle-0 {
        top: 680px;
        left: 255px;
    }

    .entropy-puzzle-1-img {
        position: absolute;
        top: 300px;
        left: 600px;
        width: 300px;
    }

    .bit-representation-puzzle-1 {
        top: 680px;
        left: 655px;
    }


    .entropy-puzzle-2-img {
        position: absolute;
        top: 300px;
        left: 1000px;
        width: 300px;
    }

    .bit-representation-puzzle-2 {
        top: 680px;
        left: 1055px;
    }

    .entropy-puzzle-3-img {
        position: absolute;
        top: 300px;
        left: 1400px;
        width: 300px;
    }

    .bit-representation-puzzle-3 {
        top: 680px;
        left: 1455px;
    }




    .algorithm-title {
        font-size: 80px;
        top: 50px;
        left: 0px;
        width: 1920px;
        text-align: center;
    }

    .local-entropy-text-container {
        top: 280px;
        font-size: 50px;
        width: 300px !important;
    }

    .local-entropy-valid-action-text {
        position: relative;
        min-height: 230px;

    }

    .local-entropy-value-text {
        position: relative;
        padding-top: 20px;
    }


    .solution-entropy-valid-a-text-container {
        top: 255px;
        font-size: 50px;
        width: 300px !important;

    }

    .solution-entropy-valid-a-text {
        // position: relative;
        // min-height: 200px;
    }

    .solution-entropy-valid-a-total {
        margin-top: 350px;
        opacity: 0;
    }


    .how-oracle-text-strike-information-bits svg.for-story text {
        font-size: 90px;
        stroke-width: 11px;
    }


    .how-oracle-text-strike-information-bits {
        top: 573px;
        left: 232px;
    }


    .how-oracle-minimum-text {
        top: 483px;
        left: 372px;
    }

    .how-oracle-minimum-text svg.for-story text {
        font-size: 90px;
        stroke-width: 11px;
    }



    .muse-explanation-solution-with-lowest-entropy {
        top: 660px;
    }

    .muse-explanation-oracle {
        top: 760px;
    }

    .muse-explanation-recursive {
        top: 860px;
    }


    .muse-recursive-code-text {
        top: 230px;
        font-size: 50px; 
        width: 600px;
    }


    .muse-jigsaw-example-img {
        height: 640px;
        left: calc((1920 - 1920 * 640/1080) / 2);
        top: 120px;
    }

    .muse-jigsaw-question-mark-text {
        font-size: 140px;
        color: darkred;
        font-weight: bold;
        left: 620px;
        top: 110px;
    }


    .muse-question-do-both-actions-text, 
    .muse-introducing-l-text,
    .muse-visualizing-l-text,
    .muse-l-reduces-search-tree,
    .muse-straight-line-policy,
    .muse-n-step-lookahead {
        top: 810px;
        select {
            font-size: 50px;
            margin-top: -15px;
            vertical-align: middle;
            margin-left: 10px;
        }
    }

    .muse-entropy-a-and-l-text-container, 
    .remuse-table-puzzle-remuse-already-won,
    .remuse-table-puzzle-remuse-only-one-solution  {
        table-layout: fixed;
        position: absolute;
        top: 180px;
        font-size: 50px;
        width: 900px !important; 

        border-collapse: collapse;

        tr th:nth-child(1), tr td:nth-child(1) {
            width: 250px;
        }

        tr th:nth-child(2), tr td:nth-child(2) {
            width: 350px;
        }

        tr th:nth-child(3), tr td:nth-child(3) {
            width: 300px;
        }

        tr:nth-child(2) {
            height: 260px;
            td {
                height: 180px;
            }
        }

        td div, th div {
            // margin: 25px;
        }

        td, th {
            border: 1px solid black;
            border-spacing: 0px;
            padding: 0px;
        }
        
        td, tr {
            padding: 25px;
        }

        td:first-child,
        th:first-child {
            border-left: none;
        }

        td:nth-child(3),
        th:nth-child(3) {
            border-right: none;
        }

        tr:nth-child(4) {
            td {
                border-bottom: none;
            }
        }

        .smaller-table-title {
            font-size: 40px;
        }

        th {
            border-top: none;
        }

        div {
            position: relative;
            display: inline-block;
        }

        .table-small-description {
            font-size: 30px;
        }
        
    }
    // .states-and-actions-states-text {
    //     position: relative;
    //     min-height: 350px;

    // }

    .muse-recursive-summary-code-text {
        top: 230px;
        font-size: 50px;
        width: 600px;
    }


    .remuse-revisit-min-goal-text.storybook-text svg.for-story text {
        font-size: 90px;
        stroke-width: 11px;
    }


    .remuse-revisit-min-goal-text {
        top: 573px;
        left: 356px;
    }



    .remuse-easy-paths-question-text.storybook-text svg.for-story text {
        font-size: 90px;
        stroke-width: 11px;
    }


    .remuse-easy-paths-question-text {
        top: 555px;
        left: 256px;
    }


    
    .puzzle-remuse-already-won {
        left: 336px;
        top: 321px;
        scale: 2.5;
    }

    .puzzle-remuse-intuition {
        left: 810px;
        top: 321px;
        scale: 3;
    }


    .puzzle-remuse-only-one-solution {
        left: 336px;
        top: 321px;
        scale: 2.5;
    }


    .focus-circle-cover {
        width: 1200px;
        height: 1200px;
        position: absolute;
        top: 160px;
        left: 362px;
        scale: 1.4;
    }

    .remuse-kl-divergence-title {
        top: 100px;
        left: 300px;
        font-size: 100px;
    }

    .remuse-kl-divergence-description {
        top: 240px;
        left: 300px;
        font-size: 50px;
        width: 1200px;
    }

    .remuse-kl-divergence-formula-text {
        top: 590px;
        left: 300px;
        font-size: 60px;
    }

    .remuse-kl-divergence-equal-output {
        top: 770px;
        left: 300px;
        font-size: 44px;
    }

    .muse-algorithm-title {
        b {
            color: darkred;
        }
    }

    .remuse-algorithm-title {
        top: 430px;
        b {
            color: darkred;
        }
    }

    .remuse-puzzle-entropy-text-container {
        font-size: 50px;

        div {
            position: relative;
        }
    }



    .remuse-table-puzzle-remuse-already-won,
    .remuse-table-puzzle-remuse-only-one-solution {
        left: 900px;
        top: 110px;

        tr th:nth-child(1),
        tr td:nth-child(1) {
            width: 250px;
        }

        tr th:nth-child(2),
        tr td:nth-child(2) {
            width: 325px;
        }

        tr th:nth-child(3),
        tr td:nth-child(3) {
            width: 325px;
        }
        tr td {
            text-align: center;
            font-size: 40px;
        } 

        tr:nth-child(2) {
            height: 70px;
            td {
                height: 70px;
            }
        }

        tr:nth-child(3) {
            td {
                border-bottom: none;
            }
        }

        .softmin-table-title {
            font-size: 30px;
        }
        .oracle-entropies-value-text {
            color: blue;
        }
    }

    .remuse-actions-tabletop {
        text-align: center;
        width: 654px;
        font-size: 50px;
        bottom: 187px;
        left: 147px;
    }

    .remuse-results-bottom {
        top: 520px;
        right: 200px;
        font-size: 40px;
        width: 800px;

        .results-title {
            font-size: 50px;
        }

        .remuse-results-title {
            margin-top: 30px;
        }

        div {
            position: relative;
        }
    }


    .remuse-bad-paths-question-text.storybook-text svg.for-story text {
        font-size: 90px;
        stroke-width: 11px;
    }


    .remuse-bad-paths-question-text {
        top: 484px;
        left: 340px;
    }


    .results-windmill-iframe, .results-dotplot-iframe {
        width: 1800px;
        left: calc((1920 - 1800)/2);
        height: 800px;
        top: 50px;
        position: absolute;
        padding: 0;
        overflow: hidden;
    }

    .results-dotplot-iframe {
        width: 1200px;
        left: 510px;
        top: 120px;
        html {

            overflow: hidden;
        }

    }

    .results-windmill-link, .results-dotplot-link {
        position: absolute;
        bottom: 80px;
        width: 1920px;
        left: 0px;
        font-size: 100px;
        text-align: center;
    }

    a, a:hover, a:visited {
        text-decoration: none;
        color: black;
    }

    .results-windmill-main-table {
        width: 1400px;
        left: calc((1920 - 1400)/2);
        top: 200px;
    }


    .results-compare-remuse-and-soln-length-img {
        width: 1600px;
        left: calc((1920 - 1600)/2);
        top: 210px;

    }

    .results-puzzle-ordering-game-img {
        width: 1700px;
        left: calc((1920 - 1700)/2);
        top: 100px;
    }
    .results-puzzle-ordering-equidistant-img {
        width: 1700px;
        left: calc((1920 - 1700)/2);
        top: 100px;
    }
    .results-distribution-3x3-img {
        width: 1600px;
        left: calc((1920 - 1600)/2);
        top: 200px;
    }
    .results-distribution-3x4-img {
        width: 1600px;
        left: calc((1920 - 1600)/2);
        top: 240px;
    }


    .results-triangle-img {
        width: 1600px;
        left: calc((1920 - 1600)/2);
        top: 110px;
    }


    .future-work-01, .future-work-01-02 {
        width: 1600px;
        left: calc((1920 - 1600)/2);
        top: 70px;
    }
    .future-work-02 {
        // width: 1600px;
        left: calc((1920 - 1097)/2);
        top: 230px;
    }
    .future-work-03 {
        width: 1600px;
        left: calc((1920 - 1600)/2);
        top: 110px;
    }

    .puzzles-orb {
        position: absolute;
        width: 500px;
        left: calc((1920 - 500)/2 - 15);
        top: 295px;
    }


    .presentation-qr-code {
        position: absolute;
        width: 700px;
        right: 180px;
        top: 190px;
    }

    .questions-slides-online-text {
        font-size: 90px;
        font-weight: bold;
        width: 800px;
        right: 12px;
        top: 120px;
    }


    .questions-slides-link-text {
        font-size: 77px;
        width: 800px;
        right: 10px;
        bottom: 150px;
        text-decoration: underline;
    }

    .puzzle-instruction {
        top: 400px;
    }

    .puzzle-square-color-constraints {
        top: 400px;
    }


    .puzzle-instruction-text {
        font-size: 80px;
        width: 1220px;
        left: calc((1920 - 1220)/2);
        bottom: 150px;
    }


    .puzzle-instruction-constraints {
        font-size: 80px;
        width: 1120px;
        left: calc((1920 - 1120)/2);
        bottom: 150px;
    }


    .puzzles-to-solve-text {
        font-size: 80px;
        width: 1920px;
        text-align: center;
        // left: calc((1920 - 1120)/2);

    }


    .conclusion-left-side {
        width: 750px;
        font-size: 50px;
        left: 230px;
        // list-style-position: outside;
    }

    .conclusion-left-side li  {
        margin-left: 1em;
    }

    .conclusion-measure-name {
        font-weight: bold;
    }


    .conclusion-title {
        top: 100px;
        font-size: 120px;   
        left: 220px;
    }

    .conclusion-measures {
        top: 300px;

    }

    .conclusion-positive-correlation {
        top: 400px;
    }


    .conclusion-better-correlation {
        top: 500px;
    }

    // .conclusion-conclusion-ordering {
    //     top: 750px;
    // }


    .conclusion-ordering {
        top: 670px;
    }

    .conclusion-final-thought {
        top: 840px;
    }



}

#fullpage {
    background-color: rgba(0, 0, 0, 0);

    .section {
        background-color: rgba(0, 0, 0, 0);
    }

}


#fp-nav a.chapter-first-page span {
    background-color: rgb(120,0,0);
}
#fp-nav ul li,
.fp-slidesNav ul li {
    margin: -6px !important;
    height: 11px !important;
}

#fp-nav a .chapter-title {
    position: absolute;
    right: 18px;
    width: 400px;
    text-align: right;
    margin-top: -7px;
    color: #777;
}
#fp-nav {
    transition: 1s all;
}
#fp-nav.hidden {
    margin-right: -450px;
}


.container {
    z-index: 1;
    perspective: 3000px;
}

.container .book {
    position: relative;
    display: block;
    width: 400px;
    height: 550px;
    margin: 5% auto;
    border-radius: 2px 4px 4px 2px;
    background: linear-gradient(45deg, #DAD5DC 0%, #f2ebf4 100%);
    font-family: acumin-pro, sans-serif;
    -webkit-box-shadow: 13px 13px 8px 0px rgba(151, 146, 153, 0.6);
    -moz-box-shadow: 13px 13px 8px 0px rgba(151, 146, 153, 0.6);
    box-shadow: 13px 13px 8px 0px rgba(151, 146, 153, 0.6);
    font-weight: 400;
    color: #2b2b2b;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    transition: transform .5s;
}

.container .book:hover {
    -webkit-transform: rotate3d(0, 1, 0, 35deg);
    -moz-transform: rotate3d(0, 1, 0, 35deg);
    transform: rotate3d(0, 1, 0, 35deg);
}

.container .book>div,
.container .front>div {
    display: block;
    position: absolute;
}


.container .front {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    transition: transform .5s;
    -webkit-transform: translate3d(0, 0, 20px);
    -moz-transform: translate3d(0, 0, 20px);
    transform: translate3d(0, 0, 20px);
    z-index: 10;
}

.container .front>div {
    width: 400px;
    height: 550px;
}

.container .left-side {
    width: 40px;
    left: -20px;
    height: 550px;
    background-color: rgba(232, 229, 234);
    -webkit-transform: rotate3d(0, 1, 0, -90deg);
    -moz-transform: rotate3d(0, 1, 0, -90deg);
    transform: rotate3d(0, 1, 0, -90deg);
}

.cover svg {
    position: absolute;
    top: 50%;
    left: 45%;
    margin-top: -100px;
    margin-left: -110px;
    width: 300px;
}

#eye-right {
    padding-left: 185px;
}

.cover .num-up {
    position: absolute;
    top: 64px;
    left: 47px;
    letter-spacing: 50px;
    transform: rotate(-90deg);
}

.cover .num-down {
    position: relative;
    top: 65px;
    left: -95px;
    transform: rotate(-90deg);
}

.author {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    position: absolute;
    top: 475px;
    left: 50px;
    opacity: .8;
}

.container .front>div {
    border-radius: 0 3px 3px 0;
    box-shadow:
        inset 4px 0 10px rgba(0, 0, 0, 0.1);
}

.container .front:after {
    content: '';
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: -1px;
    width: 1px;
}

.container .cover:after {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    width: 3px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}


.container h2 {
    width: 500px;
    height: 40px;
    color: #2b2b2b;
    font-size: 15px;
    line-height: 40px;
    padding-right: 10px;
    text-align: right;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(90deg) translateY(-40px);
    -moz-transform: rotate(90deg) translateY(-40px);
    transform: rotate(90deg) translateY(-40px);
}

.cover {
    background: linear-gradient(45deg, #DAD5DC 0%, #f2ebf4 100%);
}


.left-side h2 span:first-child {
    font-weight: 400;
    font-size: 13px;
    padding-right: 20px;
}

.left-side h2 span:last-child {
    font-family: acumin-pro, sans-serif;
}



